*{
    margin: 0;
    padding: 0;
}
/* styles.module.css */
.hero {
    display: flex;
    height: 100vh; /* Ensure the container covers full viewport height */
    position: relative; /* Position relative to handle absolute children */
}

 .formSide,.textSide{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%; /* Full height of the hero */
    transition: transform 1s ease; /* Smooth transition */
}

.textSide {
    background: var(--Main-goten, #FFF);
    width: 46%;
    right: 0;
    transform: translateX(100%); 
}

.formSide {
    background: #682DFE;
    width: 54%;
    left: 0;
    transform: translateX(0); 

}

.animate .textSide {
    transform: translateX(-120%);  /* Move off-screen */
}

.animate .formSide {
   
    transform: translateX(85.2%); /* Move into view */
}
.logo{
    position: absolute;
    left: 0;
    top:10px;
}
.connection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width:297px ;
}
.TeamUp_connects{
    color: var(--Main-trunks, #595D62);
font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-4xl/[R] */
font-family: DM Sans;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
letter-spacing: -0.5px;
}
.dont_have_account{
    color: var(--Main-trunks, #595D62);
font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-lg/[R] */
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}
.form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 27.63vw;

}
.welcome{
    color: var(--Main-goten, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-5xl/[S] */
font-family: DM Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 116.667% */
letter-spacing: -1px;
max-width: 297px;
}
.Same_input{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Size-80, 8px);
}
.enter_Data{
    color: var(--Main-goten, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* UI Type/text-md/[R] */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.informationHolder{
    border: none;
    background-color: transparent;
    color: var(--base, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* Paragraph/text-xs/[R] [L] */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    text-decoration-line: underline;
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--Main-goten, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* UI Type/text-md/[R] */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.socialMedia{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap:40px;
    align-items: center;
}
.socialImag{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: var(--Size-none, 0px);
    border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
  
}