@import "../../root.css";
.hero{


}
p{
  margin-bottom: 0;
}
h1{
  margin:0;
}
.countainerOne{
  display: flex;
  height: calc(100vh - 76px);
  margin-top: 15px;
  align-items: center;
  padding: 0px 100px;
  background: linear-gradient(to right, #f5f7fa, #E2CCF2);}
.fromSide{
  display: flex;
  flex-direction: column;
  gap:60px;
}
.textDiv{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.findJobText{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    color: #303030;
} 
.subTitle{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #5e6670;
}
.suggestion{
  align-self: flex-start;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #9199a3;

}
.categories{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #474c54;
}
.mainPhoto{
  max-width: 374px;
}
.secondCountainer{
  display: flex;
  flex-direction: column;
  gap:50px;
  align-items: center;
  margin-top: 100px;
}
.jobPost{
    display:flex;
    gap:30px;
    align-items: center;
    
}
.Title{
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 45px;
  line-height: 100%;
  text-align: center;
  color: #303030;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 45px;
  line-height: 100%;
  text-align: center;
  color: #303030;
}
.viewAll{
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #6300b3;
}
.subCountainer{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap:30px;
}
.linesAndTitleInTheMidle{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line{
  height: 1px;
  width: 100%;
  background:  rgba(172, 178, 185, 0.45);
}
.topCompanies{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  line-height: 92%;
  text-align: center;
  color: #5e6670;
  min-width: 300px;
}
.campanies{
  display: flex;
  align-items: center;
  width: 100%;
}
