@import url("../../root.css");
*{
    margin:0;
    padding:0;
}
.hero{
    padding: 0px 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap:40px;
    
}
.title{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.job_search{
    font-family: var(--font-family);
    font-weight: 550;
    font-size: 40px;
    line-height: 100%;
    color: #303030;
}
.search_for_your_desire{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    color: #5e6670;
}
.inputCountainter{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}
.inputTitle{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #303030;
}
.inputGroup{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:40px;
    align-items: center;
}
.element{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #303030;
}
