:root {
    font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .OTP {
    background-color: white;
    min-height: 100vh;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease; /* Fade in effect */
    z-index: 9999; 
  }
  
  .cardOTP{
    background-color: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    padding: 3rem;
    min-width: 384px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.9); /* Start slightly smaller */
    transition: transform 0.3s ease; 
  }
  .OTP.show {
    opacity: 1;
  }
  
  .OTP.show .cardOTP {
    transform: scale(1); /* Scale to normal size */
  }
  
  .cardOTP > h2 {
    text-align: center;
    margin: 0 0 2rem;
  }
  
  .center-error-message:where(.ant-form-item) .ant-form-item-explain-error {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input-classname {
    border-radius: 16px;
  }
  
  .wrapper-classname {
    gap: 4px;
    margin-bottom: 24px;
  }
  .Enter_Verification_Code_text{
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* UI Type/text-5xl/[S] */
    font-family: "DM Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1px;
  }
  .code_sent{
    color: var(--Neutral-8, #595959);
    font-feature-settings: 'liga' off, 'clig' off;
    
    /* UI Type/text-xl/[R] */
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
  }
  .verification_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3px;
    max-width: 450px;
  }
.didnt_receive_code{
    color: var(--Primary-6, black);
    font-feature-settings: 'liga' off, 'clig' off;
    font-weight: 600;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    padding: 0;
}
.didnt_receive_code2{
    display: flex;
    gap:3px;
    justify-content: center;
    color: var(--Primary-6, black);
    font-feature-settings: 'liga' off, 'clig' off;
    margin-top: -10px;
    padding-bottom: 10px;
    width: 334px;
    text-align: end;
    /* Paragraph/text-xs/[R] */
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  
}
.input_ant{
  padding: clamp(10px,12px,14px);
  max-height: 48px;
  width: 100%;
}
.DoneNotification{
  display: inline-flex;
  padding: var(--pt-4, 16px) var(--px-4, 16px);
  align-items: flex-start;
  gap: 16px;
  border-radius: var(--Interactive-border-radius---radius-i-sm, 12px);
  background: var(--Main-gohan, #FFF);

  /* Light/shadow-lg */
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.40), 0px 8px 24px -6px rgba(0, 0, 0, 0.16);
}
.Your_account_has_been_verified{
  align-items: center;
}